{% extends 'blog/base.html' %}
{% block content %}
<div class="col-md-10 mx-auto mt-4">
    <h2 class="text-center">About Us</h2>
     <div class="row">
     <div class="col-md-6 mt-5">
       <img src="https://images.pexels.com/photos/2558872/pexels-photo-2558872.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
     </div>
     <div class="col-md-5 mt-4">
        <h2 class="px-5 mt-3">Grow your business with us</h2>
        <p class="px-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, dolores!</p>
         <button class="btn btn-info mx-5">contact</button>
     </div>
   
     </div>

</div>


{% endblock content %}