{% extends 'blog/base.html' %}
{% block content %}
  <div class="col-md-10 mx-auto mt-5">
     <div class="row">
     {% comment %} // left side div  {% endcomment %}
     <div class="col-md-6 mt-5"> 
         <h2>welcome to suvaDTECH world</h2>
           <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum nihil odit qui,
            quas provident suscipit nemo deleniti reprehenderit possimus nostrum.</p>
            <button class="btn btn-success">Hire Me</button>
     </div>
     {% comment %} //end of left side div  {% endcomment %}
     {% comment %} start of right side div  {% endcomment %}
     <div class="col-md-6 py-5">
        <img src="https://images.pexels.com/photos/733745/pexels-photo-733745.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
     </div>
    
     
     </div>
   

  
  </div>
  {% comment %} //end of main body   {% endcomment %}

 
 


{% endblock content %}
{% comment %} post model  database list   {% endcomment %}

{% block database %}
 


{% endblock database %}
 

 {% comment %} end list  {% endcomment %}