{% extends 'blog/base.html' %}
{% block content %}
<h2>signup page</h2>
<hr>
 <div class="col-md-10 mx-auto mt-5">
 <div>
  {% if messages %}
  {% for mess in messages %}
  <p {% if mess.tags %} class="alert alert-{{mess.tags}}" {% endif %}>{{mess}}</p>
  {% endfor %}
  
  
  {% endif %}
  <form action="" method="post" novalidate>
     {% csrf_token %}
     
         {% for fm in form %}
         <div class="form-group">
              {{fm.label_tag}} {{fm}}  {{fm.errors|striptags}}
        </div>
         {% endfor %}
         <input type="submit" value="submit" class="btn btn-success mt-2">

         {% if form.non_field_errors %}
           {% for error in form.non_field_errors %}
             <p>{{error}}</p>
           {% endfor %}
         
         
         {% endif %}
    
     
  </form>
 
 </div>
 
 
 </div>

{% endblock content %}